# Local Test of Python Lab: Module 1

This is a duplicate of the lab instructions from Coursera's Python for Data Science Course

In [5]:
# first python program 

print ("Hello World!")

Hello World!

In [7]:
# check python version 

import sys
print (sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 10:07:17) [Clang 14.0.6 ]

In [9]:
# arithmetic 

x = 10
y = 17
z = x + y 
print (z)

27

## Types within Python

In [3]:
# Whole numbers are integers (int) 

type (12)

int

In [5]:
# Decimals are floats

type (3.12)

float

In [7]:
# Words are strings (str) 

type ("Hello")

str

In [9]:
# Checking the speciifcs of floats for runtime envrionment 

import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [11]:
# converting an int to a float 

float (2)

2.0

In [13]:
# converting a float to an int results in loss of information

int (1.2)

1

In [15]:
# incorrect conversion of strings to int or float

float ("1 person")

ValueError: could not convert string to float: '1 person'

In [17]:
# correct conversion of string to float or int 

float ("1")

1.0

In [19]:
# convert number to str

str (1)

'1'

In [21]:
# Boolean True value 

True

True

In [23]:
# Boolean False value

False

False

In [25]:
# convert True to int

int (True)

1

In [27]:
# convert False to int

int (False)

0

In [31]:
# convert 1 or 0 to boolean

bool (1)

True

#### Exercises

In [34]:
type (6/2)

float

In [36]:
type (6//2) # double // indicates int

int

In [38]:
type ("Hello, World")

str

In [40]:
type ("hello" == "world")

bool

In [42]:
int ("1001")

1001

In [44]:
float ("1234.56")

1234.56

In [46]:
str ("123-456-7890")

'123-456-7890'

## Expressions and Variables for Operations

In [52]:
# addition operation expression

43 +60 +16 +41

160

In [54]:
# Subtraction operation expression

50 - 60

-10

In [58]:
# Multiplication operation expression

5*5

25

In [62]:
# Division operation Expression

25/6

4.166666666666667

In [64]:
# Double slash for division prompts for int

25//6

4

In [66]:
# Converting minutes to hours

160/60

2.6666666666666665

In [74]:
# Math expressions follows order of operation 

30 + 2 * 60

150

In [76]:
(30+2) * 60

1920

In [82]:
# store values into variable

x = 43 +60 +16 +41
x

160

In [84]:
# using varibale to perform operations

y = x/60
y

2.6666666666666665

In [86]:
# overiding previous value

x = x/60
x

2.6666666666666665

In [88]:
# complicated expression w/ meaingful variable name 

total_hours = (43+42+57)/60
total_hours

2.3666666666666667

#### Exercises

In [103]:
30 + 20 - 40

10

In [105]:
(55-5) / 10

5.0

In [107]:
(6 * 10) / 12

5.0

In [113]:
x = 3 + 2 * 2
x

7

In [115]:
y = (3+2) * 2
y

10

In [117]:
z = x + y
z

17

## Strings

In [120]:
# Use quotation marks for defining str

"Michael Jackson"

'Michael Jackson'

In [122]:
# Str can consist of spaces and numbers

"1 2 3 4 5"

'1 2 3 4 5'

In [124]:
# special characters in str

"! @ # $"

'! @ # $'

In [126]:
# using print statement eliminates single quotation marks

print ("Hello")

Hello

In [139]:
# assign str to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [141]:
# Indexing str - indexing starts with/ 0

M = 0
i = 1
c = 2
h = 3
a = 4
e = 5
l = 6
() = 7
J = 8
a = 9
c = 10
k = 11
s = 12
o = 13
n = 14

In [143]:
# print the first element in the str

print (name[0])

M

In [153]:
# print x element in str

print (name [5])

e

In [219]:
print (name[7])

In [157]:
print (name[6])

l

In [159]:
# Negative Indexing - count from last character

M = -15
i = -14
c = -13
h = -12
a = -11
e = -10
l = -9
() = -8
J = -7
a = -6
c = -5
k = -4
s = -3
o = -2
n = -1

In [161]:
# print x element in str

print ( name[-9])

l

In [163]:
# find lenght of str

len ("Michael Jackson")

15

In [167]:
# slicing a str
## print index 0 to index 3

name[0:4]

'Mich'

In [169]:
## print index 8 to index 11

name[8:12]

'Jack'

In [171]:
# print every other element 

name[::2]

'McalJcsn'

In [173]:
# print every third element

name[::3]

'Mhlas'

In [175]:
# get every second index within specific range (index 0 to index 4)

name [0:5:2]

'Mca'

In [183]:
# Concatenate (combine) str - needs to include space

Statement = name + " is the best"
Statement

'Michael Jackson is the best'

In [185]:
# print three times

3 * name

'Michael JacksonMichael JacksonMichael Jackson'

In [187]:
test_statement = "I'm happy"
test_statement

"I'm happy"

In [189]:
additional_statement = " today"
additional_statement

' today'

In [191]:
# concatenate str

new_statement = test_statement + additional_statement 
print (new_statement)

I'm happy today

In [ ]:
# escape sequances include \t (tab) , \n (new line)  , \\ (include back slash), and r"..." (raw content)

In [193]:
# new line escape sequence

print ("I'm happy \n today")

I'm happy
 today

In [195]:
# Tab escape sequence 
print ("I'm happy \t today and always")

I'm happy 	 today and always

In [197]:
# include back slash in str

print ("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [199]:
# r will tell python that str will be displayed as raw str

print (r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [201]:
print ("Michael Jackson \ is the best")

Michael Jackson \ is the best

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
/var/folders/hv/17tcrwkn00qbsm1tch10yjl40000gn/T/ipykernel_13436/821942297.py:1: SyntaxWarning: invalid escape sequence '\ '
  print ("Michael Jackson \ is the best")

In [ ]:
# escape sequances include \t (tab) , \n (new line)  , \\ (include back slash), and r"..." (raw content)

In [205]:
# convert all characters in str to upper case

a = "thriller is the sixth studio album"
print("before upper:" , a)
b = a.upper()
print ("After upper:" , b)

before upper: thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [207]:
# replace an old substring with a new substring 

a = "Michael Jackson is the best"
b = a.replace("Michael" , "Janet")
b

'Janet Jackson is the best'

In [211]:
# Find substring in string - Only the index of the first element will show

name = "Michael Jackson"
name.find ("el")

5

In [213]:
# if the substring cannot be found

name.find ("happ")

-1

In [215]:
# split substring into list
name = "Michael Jackson"
split_string = (name.split())
split_string

['Michael', 'Jackson']

In [14]:
# import module for regular expressions (RegEx) 

import re

In [16]:
# how to use the search function 

s1 = "Today is a great day" #defining statement 

pattern = r"Today" #define what pattern to search for

result = re.search(pattern, s1) #instruction for search function (ie. search for defined pattern in identfied statement) 

#instruction for result output 
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [18]:
# \d function for matching digits

pattern = r"\d\d\d\d\d\d\d\d\d\d" #ten digit sequence (ie phone number)

text = "My phone number is 1234456789" # define statement to be searched

match = re.search(pattern, text) #search for identified pattern in text

if match: 
    print("phone number found:", match.group())
else:
    print("No match")

phone number found: 1234456789

In [20]:
# \W function for matching non-word characters

pattern = r"\W" 
text = "Hello, World@#!"
matches = re.findall(pattern, text) # find all instances of non-word characters 

print("Matches:", matches)

Matches: [',', ' ', '@', '#', '!']

In [22]:
# experimentation w/ match instruction 

pattern = r"\W" 
text = "Hello, World!"
matches = re.match(pattern, text)

print("Matches:", matches) #match is used for comparing to the begining of strings only

Matches: None

In [24]:
# experimentation w/ match instruction 

pattern = r"He" 
text = "Hello, World!"
matches = re.match(pattern, text)

#match is used for comparing to the begining of strings only

if match: 
    print("match found:", matches.group())
else:
    print("No match")

match found: He

In [26]:
# experimentation w/ search instruction 

pattern = r"\W" 
text = "Hello, World!"
matches = re.search(pattern, text)

print("Matches:", matches) #search finds first instance

Matches: <re.Match object; span=(5, 6), match=','>

In [29]:
# using the findall function

s2 = "Michael_Jackson was a singer and known as the 'King_of_Pop'" # defining the statement

result = re.findall("as", s2) # find all instances of "as" in defined statement 

print(result)

['as', 'as']

In [31]:
# example of spliting (re.split()) a function using whitespace characters (\s) 

split_array = re.split(r"\s" , s2)

print(split_array)

['Michael_Jackson', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King_of_Pop'"]

In [33]:
# example of substitution 

pattern = r"King_of_Pop" #substring to be replaced

replacement = r"legend" #define replacement 

new_string = re.sub(pattern, replacement, s2) #replace identified substring with identified replacement 

print (new_string)

Michael_Jackson was a singer and known as the 'legend'

#### Exercises

In [36]:
a = "1"
a

'1'

In [38]:
b = "2"
b

'2'

In [40]:
c = a + b 
c

'12'

In [42]:
d = "ABCDEFG"
d[0:3]

'ABC'

In [44]:
e = "clocrkrlelclt"
e[::2]

'correct'

In [46]:
print("\\")

\

In [48]:
f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [50]:
f2 = "YOU ARE RIGHT"
f2.lower()

'you are right'

In [52]:
g = "Mary had a little lamb little lamb, little lamb Mary had a little lamb, Its fleece was white as snow And everywhere that Mary went Mary went, Mary went, Everywhere that Mary went The lamb was sure to go" 

g.find ("snow")

96

In [54]:
g.replace("Mary", "Bob")

'Bob had a little lamb little lamb, little lamb Bob had a little lamb, Its fleece was white as snow And everywhere that Bob went Bob went, Bob went, Everywhere that Bob went The lamb was sure to go'

In [56]:
g.replace(",", ".")

'Mary had a little lamb little lamb. little lamb Mary had a little lamb. Its fleece was white as snow And everywhere that Mary went Mary went. Mary went. Everywhere that Mary went The lamb was sure to go'

In [58]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb,',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went,',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [60]:
s3 = "House number - 1105"

re.findall(r"\d", s3) # my initial attempt forgot r before "\d"

['1', '1', '0', '5']

In [62]:
s3 = "House number - 1105"

result = re.search (r"\d\d\d\d", s3)

if result:
    print ("Digit found:" , result.group()) 
else:
    print ("Digit not found") #correct answer

Digit found: 1105

In [64]:
str1 = "The quick brown fox jumps over the lazy dog"

str2 = re.sub(r"fox" , "bear", str1) #forgot r before "fox"
print (str2)

The quick brown bear jumps over the lazy dog

In [66]:
str3 = "How much wood would a woodchuck chuck, if a woodchuck could chuck wood"

re.findall (r"woo" , str3) # initial attempt

['woo', 'woo', 'woo', 'woo']

In [68]:
str3 = "How much wood would a woodchuck chuck, if a woodchuck could chuck wood"

match = re.findall (r"woo" , str3) #provided answer 

print (match)

['woo', 'woo', 'woo', 'woo']

## Author
Elizabeth Ekeruo