# Python Lab Duplicate - Module 3

## Conditions and Branching

### Examples of Comparison operations

In [1]:
# equality operator 

a=6
a==7

False

In [3]:
a==6

True

In [5]:
"ABC" == "DEF" #used for str

False

In [7]:
"ABC"=="ABC"

True

In [9]:
# Greater than

a=6
a>8

False

In [11]:
a>5

True

In [13]:
#Greater than or equal to 

a=6
a >= 8

False

In [15]:
a=8
a>=8

True

In [17]:
#Less than

a=6
a<5

False

In [19]:
a<8

True

In [21]:
#Less than or equal 

a=6
a<=8

True

In [23]:
a=8
a<=8

True

In [25]:
#inequality sign

a=6
a !=5

True

In [27]:
a !=6

False

In [29]:
"ABC" != "CDE" # used for str

True

In [31]:
"ABC" != "ABC"

False

### Branching statements

In [34]:
# Example of if statement 

age = 16

if age>18:
    print("you can enter") #will only print if condition is meet

print ("operation completed")

operation completed

In [36]:
age = 20

if age>18:
    print ("you can enter") #will only print if condition is meet

print ("operation completed")

you can enter
operation completed

In [38]:
# Example of if-else statement

age = 16

if age>18:
    print("you can enter")
else: #is only printed if prior condition is not meet
    print("you cannot enter")

print("operation completed")

you cannot enter
operation completed

In [40]:
age = 20

if age>18:
    print("you can enter")
else: #is only printed if prior condition is not meet
    print("you cannot enter")

print("operation completed")

you can enter
operation completed

In [42]:
# Example of elif statement

age =16

if age>18:
    print("you can enter")
elif age==16: #checks condition if prior condition was not meet
    print("you can enter with an adult")
else: #only prints if neither of the prior conditions are meet
    print("you cannot enter")

print("operation completed")

you can enter with an adult
operation completed

In [44]:
age = 15

if age>18:
    print("you can enter")
elif age==16: #checks condition if prior condition was not meet
    print("you can enter with an adult")
else: #only print if neither of the prior condition are meet
    print("you cannot enter")

print("operation completed")

you cannot enter
operation completed

In [46]:
age =20

if age>18:
    print("you can enter")
elif age==16:
    print("you can enter with an adult")
else:
    print("you cannot enter")

print("operation completed")

you can enter
operation completed

In [48]:
#using multiple elif statements

age = 15

if age>18:
    print("you can enter")
elif age==16:
    print("you can enter with an adult")
elif age==15: ## will only print if the two prior conditions are not meet
    print("try again next year") 
else:
    print("you cannot enter")

print("operation ended")

try again next year
operation ended

### Logical operators

In [51]:
# example of an AND statement

age = 15

if age>12 and age<18:
    print("you're a teenager")
elif age>18 and age<25:
    print("you're a young adult")
elif age>25:
    print("you're an adult")
else:
    print("you're a baby")

print("operation completed")

you're a teenager
operation completed

In [53]:
age = 19

if age>12 and age<18:
    print("you're a teenager")
elif age>18 and age<25:
    print("you're a young adult")
elif age>25:
    print("you're an adult")
else:
    print("you're a baby")

print("operation completed")

you're a young adult
operation completed

In [55]:
age = 30

if age>12 and age<18:
    print("you're a teenager")
elif age>18 and age<25:
    print("you're a young adult")
elif age>25:
    print("you're an adult")
else:
    print("you're a baby")

print("operation completed")

you're an adult
operation completed

In [57]:
age = 5

if age>12 and age<18:
    print("you're a teenager")
elif age>18 and age<25:
    print("you're a young adult")
elif age>25:
    print("you're an adult")
else:
    print("you're a baby")

print("operation completed")

you're a baby
operation completed

In [59]:
# example of an OR statement

age = 18

if age==18 or age>18:
    print("you're an adult")
else:
    print("you're not an adult")

you're an adult

In [61]:
age = 20

if age==18 or age>18:
    print("you're an adult")
else:
    print("you're not an adult")

you're an adult

In [63]:
age = 17

if age==18 or age>18:
    print("you're an adult")
else:
    print("you're not an adult")

you're not an adult

In [65]:
# example of NOT statement

age = 15

if not age>20:
    print("you cannot enter")
else:
    print("you can enter")

you cannot enter

In [67]:
age = 21

if not age>20:
    print("you cannot enter")
else:
    print("you can enter")

you can enter

In [69]:
age = 20

if not age>20: #greater than does not include equals 
    print("you cannot enter")
else:
    print("you can enter")

you cannot enter

## Loops

### For Loops

In [73]:
#for loop example with list

sequence = ["Joy", "Anger", "Sadness", "Envy"]

for item in sequence:
    print (item)

Joy
Anger
Sadness
Envy

In [75]:
#for loop to change items in sequence

sequence = ["Joy", "Anger", "Sadness", "Envy"]

for item in range(0,3):
    sequence[item] = "Happy"
    print(sequence)

['Happy', 'Anger', 'Sadness', 'Envy']
['Happy', 'Happy', 'Sadness', 'Envy']
['Happy', 'Happy', 'Happy', 'Envy']

In [77]:
#for loop example with range

for numbers in range(5,11):
    print(numbers)

5
6
7
8
9
10

In [79]:
for numbers in range(11): #starts at 0 if first number is not specified 
    print(numbers)

0
1
2
3
4
5
6
7
8
9
10

In [81]:
# enumerated for loop provides index location and item

sequence = ["Joy", "Anger", "Sadness", "Envy"]

for index, item in enumerate (sequence):
    print (index, item)

0 Joy
1 Anger
2 Sadness
3 Envy

### While Loops

In [84]:
# while loop exmaple

count=0 #variable named count initalizes sequence 

while count<=10:
    print(count)
    count = count+1 #can also be written as count+=1

0
1
2
3
4
5
6
7
8
9
10

In [86]:
# using variables within while loop

numbered_list = [1,2,3,4,5,6,7,8,9,10]

index = 0 #initalizes sequence
number = numbered_list[0] 

while number<5:
    print(number)
    index = index+1
    number = numbered_list[index] #helps continue count

1
2
3
4

In [88]:
numbered_list = [1,2,3,4,5,6,7,8,9,10]

index = 0 #initalizes sequence

while numbered_list[index]<5:
    print(numbered_list[index])
    index = index + 1

1
2
3
4

In [90]:
random_list = [True, 4, False, 7, 9]

index = 0
item = random_list[0]
answer = item * 3


while answer < 20:
    print (index, item, answer)
    index+=1
    item = random_list[index]
    answer = item * 3

0 True 3
1 4 12
2 False 0

In [92]:
#while loop exercises - if score is less than 6 exit loop

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

index = 0
rating = PlayListRatings[0]

while rating > 6:
    print(rating)
    index = index+1
    rating = PlayListRatings[index]

10
9.5
10
8
7.5

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [95]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

index = 0
color = squares[0]

while color == "orange":
    new_squares.append(color)
    index = index +1
    color = squares[index]

print(new_squares)

['orange', 'orange']

Write a while loop that takes an integer and multiples it by itself. Stop and exit the loop when the number provided is less than zero

In [98]:
integer_list = [7, 9, 5, -8, 0, 9, 4, 3]

index = 0
number = integer_list[0]

while number > 0:
    answer = number * number
    print (number, "squared equals", answer)
    index = index+1
    number = integer_list[index]

7 squared equals 49
9 squared equals 81
5 squared equals 25

## Functions

In [101]:
# example of how to create a new function with def

def addition (a, b, c): # define the paramaters 
    """
    adds three paramaters together #example of documentation string (ie docstring)
    """
    answer = a+b+c # define the function
    return answer  #return sends answer to assigned variable (ie stored_value)

stored_value = addition (2, 2, 2)
print (stored_value)

6

In [112]:
#example of using for loop within defined function

def print_numbers(list):
    for number in list:
        print (number)

list = [1, 2, 3, 4, 5]

print_numbers(list)

1
2
3
4
5

In [118]:
#example of using while loop within defined function 

def count_to_ten():
    count = 0
    while count<=10:
        print(count)
        count = count +1

count_to_ten()

0
1
2
3
4
5
6
7
8
9
10

In [180]:
#examples of modifying a list (removing items; adding items) using defined functions 

shopping_list = []

def add_item(list, item):
    if item not in list:
        list.append(item)
    else:
        print("item already in list")
    print(shopping_list) # note difference between return and print command 

def remove_item(list, item):    
    if item in list:
        list.remove(item)
        return(list) # note difference between return and print command 
    else:
        print("item not in list")

add_item(shopping_list, "milk")    
add_item(shopping_list, "eggs")
add_item(shopping_list, "cheese")
add_item(shopping_list, "bread")
add_item(shopping_list, "bread")

['milk']
['milk', 'eggs']
['milk', 'eggs', 'cheese']
['milk', 'eggs', 'cheese', 'bread']
item already in list
['milk', 'eggs', 'cheese', 'bread']

In [182]:
remove_item(shopping_list, "bread")
remove_item(shopping_list, "milk")
print(shopping_list) #note difference between return and print commmand

['eggs', 'cheese']

In [184]:
remove_item(shopping_list, "salad")

item not in list

## Exception Handling

In [191]:
# Example of try-except with Zero Division Error

try:
    10/0
except ZeroDivisionError: # specifies what to print for a spcific error
    print("cannot divide by zero")

cannot divide by zero

### user input examples

In [201]:
a = input("please enter content")
print(a)

please enter content hello world

hello world

In [203]:
#demonstrates that user inputs are registered as strings

a = input("enter a number")/input("enter a number") 
print(a)

enter a number 7
enter a number 6

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [205]:
a = float(input("enter a number"))/float(input("enter a number"))
print(a) #change user input to float

enter a number 7
enter a number 6

1.1666666666666667

### More Examples of Exception Handling

In [214]:
a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
    print (c)
except: #prints the same thing for all errors
    print("there was an error")

please enter a value for b: 7

0.14285714285714285

In [216]:
a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
    print (c)
except: #the below user input is an example of Zero Division Error
    print("there was an error")

please enter a value for b: 0

there was an error

In [218]:
a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
    print (c)
except: #the below user input is an example of a Value Error
    print("there was an error")

please enter a value for b: happy

there was an error

In [220]:
# Example of try-except that includes else and finally

a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
except ZeroDivisionError: #the below user input is an example Zero Division Error
    print("you cannot divide by zero")
except ValueError:
    print("you did not provide a number")
except:
    print("there was an error")
else:
    print("the calculation was successful; c=", c)
finally:
    print("operation complete")

please enter a value for b: 0

you cannot divide by zero
operation complete

In [222]:
a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
except ZeroDivisionError: #the below user input is an example Zero Division Error
    print("you cannot divide by zero")
except ValueError:
    print("you did not provide a number")
except:
    print("there was an error")
else:
    print("the calculation was successful; c=", c)
finally:
    print("operation complete")

please enter a value for b: happy

you did not provide a number
operation complete

In [228]:
a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
except ZeroDivisionError: #the below user input is an example Zero Division Error
    print("you cannot divide by zero")
except ValueError:
    print("you did not provide a number")
except:
    print("there was an error")
else:
    print("the calculation was successful; c=", c)
finally:
    print("operation complete")

please enter a value for b: 6

the calculation was successful; c= 0.16666666666666666
operation complete

In [232]:
#Exception as e example 

a = 1

try:
    b = int(input("please enter a value for b:"))
    c = a/b
    print (c)
except Exception as e: #catch all for identifying the type of error
    print("there was an error", e)

please enter a value for b: 0

there was an error division by zero

## Classes and Objects

In [289]:
class Car_Inventory:
    max_speed = 120 #defines defualt attribute for all objects

    def __init__(self, make, model, color, name, speed = 0): #inializes class and defines required attributes
        self.make = make
        self.model = model
        self.color = color
        self.name = name
        self.speed = speed

    def acceleration(self, acceleration): #Defining a method (ie a function wihtin a class)
        if self.speed + acceleration <= Car_Inventory.max_speed:
            self.speed += acceleration
        else:
            self.speed = Car_Inventory.max_speed

    def get_speed(self):
        return self.speed

    def display_properties(self):
        print ("the properties of", self.name, "include:")
        print ("Make:", self.make)
        print ("Model:", self.model)
        print ("color:", self.color)

In [291]:
# add objects to the class

car1 = Car_Inventory("Genesis", "GV60", "Red", "Car1")
car2 = Car_Inventory("Lincoln", "MKZ", "Grey", "Car2")

In [293]:
#using the methods

car1.acceleration(30)
car2.acceleration(20)

speed1 = car1.get_speed()
speed2 = car2.get_speed()

print("the speed of car one is currently at", speed1, "Km/h")
print ("the speed of car one is currently at", speed2, "km/h")

the speed of car one is currently at 30 Km/h
the speed of car one is currently at 20 km/h

In [295]:
car1.display_properties()
car2.display_properties()

the properties of Car1 include:
Make: Genesis
Model: GV60
color: Red
the properties of Car2 include:
Make: Lincoln
Model: MKZ
color: Grey