# Python Labs Duplicate - Module 2

## Lists

In [260]:
# Create a list [ie uses brackets]

L = ["Michael Jackson", 10.1, 1982]
print(L)
print(type (L))

['Michael Jackson', 10.1, 1982]
<class 'list'>

In [262]:
# Print element using positive indexing and negative indexing 

print (L[0]) #positive 
print (L[-3]) #negative

Michael Jackson
Michael Jackson

In [264]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  ) # \n for new line

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson

In [266]:
# example of slicing 

L[1:3]

[10.1, 1982]

In [268]:
# example of extend - adds multiple elements

L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [270]:
# example of append - adds one element using nesting 

L.append (['a','b'])
L

['Michael Jackson', 10.1, 1982, 'pop', 10, ['a', 'b']]

In [272]:
# Command runs based on last indexed list - list can have reqeating elements 

L.append (['a','b'])
L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10, ['a', 'b'], ['a', 'b'], 'pop', 10]

In [274]:
# Change the element based on the index

print('Before change:', L)
L[0] = 'hard rock'
print('After change:', L)

Before change: ['Michael Jackson', 10.1, 1982, 'pop', 10, ['a', 'b'], ['a', 'b'], 'pop', 10]
After change: ['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], ['a', 'b'], 'pop', 10]

In [276]:
# confirmation of change

L

['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], ['a', 'b'], 'pop', 10]

In [278]:
# Delete the element based on the index

print('Before change:', L)
del(L[6])
print('After change:', L)

Before change: ['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], ['a', 'b'], 'pop', 10]
After change: ['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

In [280]:
# confirmation of change

L

['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

In [282]:
# Split/convert a string into a list - defualts split to where there are spaces

'hard rock'.split()

['hard', 'rock']

In [284]:
# specify the delimiter for where the string should be split

'Hard day; rock'.split(';')

['Hard day', ' rock']

#### Copies vs. Clones

In [287]:
# copy a list 

A = L
print (A)

['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

In [289]:
# Changing A results in a change in L

A[0] = "banana"
print (L)

['banana', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

In [291]:
# Clone the list

B = A[:]
print (B)

['banana', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

In [293]:
# Clone are not affected by changes to original list

A[0] = "hard rock"
print ("original list", L) 
print ("copied list" , A)
print ("cloned list" , B)

original list ['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]
copied list ['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]
cloned list ['banana', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

## Tuples

In [296]:
# Create tuple (ie uses parenthesis)

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [298]:
# Indexing to print elements

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [300]:
# Using Negative Indexing 

print(tuple1[-1]) # starts with last element 
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

In [302]:
# Print the type of each element

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [304]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [306]:
# Slice example of concatnated tuple

tuple2[0:3]

('disco', 10, 1.2)

In [308]:
# Get the length of tuple

print (len(tuple2))
print (len(tuple1))

5
3

In [310]:
# sorted tuple only works for int or float elements 

Sorted = sorted(tuple2)

TypeError: '<' not supported between instances of 'int' and 'str'

In [312]:
Ratings = (10, 5, 6.2, 7.5, 3, 8)
Sortedratings = sorted(Ratings)
print (Sortedratings)

[3, 5, 6.2, 7.5, 8, 10]

In [314]:
# Nested Tuples 

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print (NestedT[2][0])
print (NestedT [4][1][0])

pop
1

## Dictionaries

In [317]:
# Create the dictionary by identifying the keys and values

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [319]:
# Access to the value by the key

print (Dict["key1"])
print (Dict[(0, 1)])

1
6

In [321]:
# Get all the keys in dictionary

Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [323]:
# Get all the values in dictionary

Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

In [325]:
# Add an entry to the dictionary 

Dict['Graduation'] = '2007'
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6,
 'Graduation': '2007'}

In [327]:
# Delete entries by key

del(Dict['Graduation'])
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [329]:
# Verify the key is in the dictionary

'key1' in Dict

True

#### Practice senario #

In [332]:
# Create empty dictionary 

Practice_dict = {}
type (Practice_dict)

dict

In [334]:
# create variablesname as reference point for data (ie inventory for store products)

ProductNo1 = "Mobile Phone"
ProductNo1_quantity = 5
ProductNo1_price = 20000
ProductNo1_releaseYear = 2020

In [336]:
# add details to inventory dictionary using add method (ie dictionary[key] = value)

Practice_dict["ProductNo1"] = ProductNo1
Practice_dict["ProductNo1_quantity"] = ProductNo1_quantity
Practice_dict["ProductNo1_price"] = ProductNo1_price
Practice_dict["ProductNo1_releaseYear"] = ProductNo1_releaseYear

Practice_dict

{'ProductNo1': 'Mobile Phone',
 'ProductNo1_quantity': 5,
 'ProductNo1_price': 20000,
 'ProductNo1_releaseYear': 2020}

In [338]:
# same procedure for second product 

ProductNo2 = 'Laptop'
ProductNo2_quantity = 10
ProductNo2_price = 50000
ProductNo2_releaseyear = 2023

Practice_dict["ProductNo2"] = ProductNo2
Practice_dict["ProductNo2_quantity"] = ProductNo2_quantity
Practice_dict["ProductNo2_price"] = ProductNo2_price
Practice_dict["ProductNo2_releaseyear"] = ProductNo2_releaseyear

Practice_dict

{'ProductNo1': 'Mobile Phone',
 'ProductNo1_quantity': 5,
 'ProductNo1_price': 20000,
 'ProductNo1_releaseYear': 2020,
 'ProductNo2': 'Laptop',
 'ProductNo2_quantity': 10,
 'ProductNo2_price': 50000,
 'ProductNo2_releaseyear': 2023}

## Sets

In [341]:
# Create a set (ie uses curly brackets)

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1 # automatically removes duplicates

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [343]:
# convert list to set 

print (L)
set2 = set(L) 
print (set2)

['hard rock', 10.1, 1982, 'pop', 10, ['a', 'b'], 'pop', 10]

TypeError: unhashable type: 'list'

In [345]:
del(L[5])
L

['hard rock', 10.1, 1982, 'pop', 10, 'pop', 10]

In [347]:
set2 = set(L) 
set2

{10, 10.1, 1982, 'hard rock', 'pop'}

In [349]:
# add element to set

set2.add('music')
set2

{10, 10.1, 1982, 'hard rock', 'music', 'pop'}

In [351]:
# adding duplicate results in no changes

set2.add('music')
set2

{10, 10.1, 1982, 'hard rock', 'music', 'pop'}

In [353]:
# remove element from set

set2.remove('hard rock')
set2

{10, 10.1, 1982, 'music', 'pop'}

In [355]:
# verify if element is in set

10 in set2

True

In [357]:
# find an intersection between sets

intersection = set1 & set2
intersection

{'pop'}

In [365]:
set1.intersection(set2)

{'pop'}

In [361]:
# find the difference 

print (set1.difference(set2))
print (set2.difference(set1))

{'rock', 'hard rock', 'soul', 'disco', 'R&B'}
{'music', 10.1, 10, 1982}

In [367]:
# unify two sets

set1.union(set2)

{10, 10.1, 1982, 'R&B', 'disco', 'hard rock', 'music', 'pop', 'rock', 'soul'}

In [371]:
# check if superset

set(set1).issuperset({'pop', 'rock'})

True

In [375]:
# check if subset

set({'pop' , 'rock'}).issubset(set1)

True

In [377]:
set(set1).issubset(set2)

False